# We do not want to list generated html files in statistics that Github shows
# on our repo page.
# Refer: https://github.com/github/linguist/blob/master/docs/overrides.md

*.html linguist-generated
default-*.js linguist-generated
default-*.css linguist-generated
manifest.json linguist-generated