# editor and OS junk
.idea
**/.DS_Store

ftd/t/js/**.manual.html
ftd/t/js/**.script.html
integration-tests/_tests/**.script.html
integration-tests/wasm/target
integration-tests/test.wasm

# nix symlink to the build output
result

fastn.com/.packages

.direnv
.envrc

# Rust stuff
target
**/*.rs.bk

# fastn test
fastn-core/tests/**/.build

fastn-core/tests/**/.packages/fifthtry.github.io/package-info/

/**/.packages
/**/.remote-state


docs
.env
.env.swp

fastn/gen
