body, ol ol, ol ul, ul ol, ul ul {
    margin:0
}
pre, table{
    overflow:auto
}
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}
pre,
table {
    overflow: auto;
}
input, code {
    vertical-align: middle;
}
pre {
    white-space: break-spaces;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
iframe {
    border: 0;
    color-scheme: auto;
}

pre code {
    overflow-x: auto;
    display: block;
    padding: 10px !important;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.ft_md ul,
.ft_md ol{
    margin: 10px 0;
}

.ft_md ul ul,
.ft_md ul ol,
.ft_md ol ul,
.ft_md ol ol {
    margin: 0;
}

.ft_md ul li,
.ft_md ol li,
.ft_md ul ol li .ft_md ul ul li .ft_md ol ul li .ft_md ol ol li {
    position: relative;
    padding-left: 32px;
    margin: 4px 0;
}

.ft_md ul {
    list-style: none;
    padding-left: 0;
}

.ft_md ol {
    list-style: none;
    padding-left: 0;
    counter-reset: item;
}

.ft_md ol li:before,
.ft_md ol ol li:before,
.ft_md ul ol li:before {
    content: counter(item);
    counter-increment: item;
    background-color: #e4e9eb;
    color: #000000;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    padding: 4px 0;
    height: 10px;
    width: 18px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 5px;
}

.ft_md ul li::before,
.ft_md ul ul li::before,
.ft_md ol ul li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 8px;
    top: 10px;
    border-radius: 50%;
    background: #c1c8ce;
}

.ft_md a {
    color: #136351;
    text-decoration: none;
}

.ft_md a:visited {
    color: #7b3ee8;
}

.ft_md a:hover {
    text-decoration: none;
}

.ft_md code {
    padding: 0.1rem 0.25rem;
    background-color: #f6f7f8;
    border-radius: 4px;
}

.ft_md blockquote {
    padding: 0.25rem 1rem;
    margin: 1rem 0;
    background-color: #f6f7f8;
    border-radius: 3px;
}

.ft_md blockquote > blockquote {
    margin: 0;
}

body.fpm-dark .ft_md code {
    color: #f9f9f9;
    background-color: rgba(255, 255, 255, 0.12);
}

body.fpm-dark .ft_md blockquote {
    background-color: rgba(240, 240, 240, 0.12);
}

body.fpm-dark .ft_md a {
    color: #25c19f;
    text-decoration: none;
}

body.fpm-dark .ft_md a:visited {
    color: #0f5750;
}

body.fpm-dark .ft_md a code {
    color: #25c19f;
}

body.fpm-dark .ft_md a:visited code {
    color: #0f5750;
}