html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}


pre {
    white-space: break-spaces;
}

pre code {
    overflow-x: auto;
    display: block;
    padding: 10px !important;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.ft_md ul,
.ft_md ol,
.ft_md p {
    margin: 10px 0;
}

.ft_md h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
}

.ft_md h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.ft_md h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
}

.ft_md h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.ft_md h5 {
    line-height: 1.2em;
}

.ft_md ul ul,
.ft_md ul ol,
.ft_md ol ul,
.ft_md ol ol {
    line-height: 1.5em;
    margin: 0;
}

.ft_md ul li,
.ft_md ol li,
.ft_md ul ol li .ft_md ul ul li .ft_md ol ul li .ft_md ol ol li {
    position: relative;
    padding-left: 32px;
    margin: 4px 0;
}

.ft_md ul {
    list-style: none;
    padding-left: 0;
}

.ft_md ol {
    list-style: none;
    padding-left: 0;
    counter-reset: item;
}

.ft_md ol li:before,
.ft_md ol ol li:before,
.ft_md ul ol li:before {
    content: counter(item);
    counter-increment: item;
    background-color: #e4e9eb;
    color: #000000;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    padding: 4px 0;
    height: 10px;
    width: 18px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 5px;
}

.ft_md ul li::before,
.ft_md ul ul li::before,
.ft_md ol ul li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 8px;
    top: 10px;
    border-radius: 50%;
    background: #c1c8ce;
}

.ft_md a {
    color: #6a89b8;
    text-decoration: none;
}

.ft_md a:visited {
    color: #9475cb;
}

.ft_md a:hover {
    text-decoration: none;
}

.ft_md code {
    font-size: 0.9em;
    padding: 0.1em 0.25em;
    background-color: rgba(159, 155, 155, 0.27);
    border-radius: 4px;
}

.ft_md blockquote {
    padding: 0.25em 1em;
    margin: 1em 0;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.ft_md blockquote>blockquote {
    margin: 0;
}

body.fpm-dark .ft_md code {
    color: #f9f9f9;
    background-color: rgba(255, 255, 255, 0.12);
}

body.fpm-dark .ft_md blockquote {
    background-color: rgba(240, 240, 240, 0.12);
}

body.fpm-dark .ft_md a {
    color: #58a6ff;
    text-decoration: none;
}

body.fpm-dark .ft_md a:visited {
    color: #a27de7;
}

body.fpm-dark .ft_md a code {
    color: #58a6ff;
}

body.fpm-dark .ft_md a:visited code {
    color: #a27de7;
}