/*
 * Based on Plugin: Syntax Highlighter CB
 * Plugin URI: http://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js
 * Description: Highlight your code snippets with an easy to use shortcode based on Lea Verou's Prism.js.
 * Version: 1.0.0
 * Author: c.bavota
 * Author URI: http://bavotasan.comhttp://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js/ */
/* http://cbavota.bitbucket.org/syntax-highlighter/  */

/* =====   ===== */
code[class*=language-].fastn-theme-dark,
pre[class*=language-].fastn-theme-dark {
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-family: Menlo, Monaco, "Courier New", monospace;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    white-space: pre;
    word-wrap: normal;
    line-height: 1.4;
    background: none;
    border: 0;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*=language-].fastn-theme-dark code {
    float: left;
    padding: 0 15px 0 0;
}

pre[class*=language-].fastn-theme-dark,
:not(pre) > code[class*=language-].fastn-theme-dark {
    background: #222;
}

/* Code blocks */
pre[class*=language-].fastn-theme-dark {
    padding: 15px;
    margin: 1em 0;
    overflow: auto;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*=language-].fastn-theme-dark {
    padding: 5px 10px;
    line-height: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.fastn-theme-dark .token.comment,
.fastn-theme-dark .token.prolog,
.fastn-theme-dark .token.doctype,
.fastn-theme-dark .token.cdata {
    color: #797979;
}

.fastn-theme-dark .token.selector,
.fastn-theme-dark .token.operator,
.fastn-theme-dark .token.punctuation {
    color: #fff;
}

.fastn-theme-dark .token.namespace {
    opacity: .7;
}

.fastn-theme-dark .token.tag,
.fastn-theme-dark .token.boolean {
    color: #ffd893;
}

.fastn-theme-dark .token.atrule,
.fastn-theme-dark .token.attr-value,
.fastn-theme-dark .token.hex,
.fastn-theme-dark .token.string {
    color: #B0C975;
}

.fastn-theme-dark .token.property,
.fastn-theme-dark .token.entity,
.fastn-theme-dark .token.url,
.fastn-theme-dark .token.attr-name,
.fastn-theme-dark .token.keyword {
    color: #c27628;
}

.fastn-theme-dark .token.regex {
    color: #9B71C6;
}

.fastn-theme-dark .token.entity {
    cursor: help;
}

.fastn-theme-dark .token.function,
.fastn-theme-dark .token.constant {
    color: #e5a638;
}

.fastn-theme-dark .token.variable {
    color: #fdfba8;
}

.fastn-theme-dark .token.number {
    color: #8799B0;
}

.fastn-theme-dark .token.important,
.fastn-theme-dark .token.deliminator {
    color: #E45734;
}

/* Line highlight plugin */
.fastn-theme-dark .line-highlight.line-highlight {
    background: rgba(255, 255, 255, .2);
}

.fastn-theme-dark .line-highlight.line-highlight:before,
.fastn-theme-dark .line-highlight.line-highlight[data-end]:after {
    top: auto;
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* for line numbers */
/* span instead of span:before for a two-toned border */
.fastn-theme-dark .line-numbers .line-numbers-rows > span {
    border-right: 3px #d9d336 solid;
}
