/**
 * VS Code Dark+ theme by tabuckner (https://github.com/tabuckner)
 * Inspired by Visual Studio syntax coloring
 */


pre[class*="language-"].vs-theme-dark,
code[class*="language-"].vs-theme-dark {
	color: #d4d4d4;
	font-size: 13px;
	text-shadow: none;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"].vs-theme-dark::selection,
code[class*="language-"].vs-theme-dark::selection,
pre[class*="language-"].vs-theme-dark *::selection,
code[class*="language-"].vs-theme-dark *::selection {
	text-shadow: none;
	background: #264F78;
}

@media print {
	pre[class*="language-"].vs-theme-dark,
	code[class*="language-"].vs-theme-dark {
		text-shadow: none;
	}
}

pre[class*="language-"].vs-theme-dark {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: #1e1e1e;
}

:not(pre) > code[class*="language-"].vs-theme-dark {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #1e1e1e;
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7;
}

.vs-theme-dark .token.doctype .token.doctype-tag {
	color: #569CD6;
}

.vs-theme-dark .token.doctype .token.name {
	color: #9cdcfe;
}

.vs-theme-dark .token.comment,
.vs-theme-dark .token.prolog {
	color: #6a9955;
}

.vs-theme-dark .token.punctuation,
.language-html .language-css .vs-theme-dark .token.punctuation,
.language-html .language-javascript .vs-theme-dark .token.punctuation {
	color: #d4d4d4;
}

.vs-theme-dark .token.property,
.vs-theme-dark .token.tag,
.vs-theme-dark .token.boolean,
.vs-theme-dark .token.number,
.vs-theme-dark .token.constant,
.vs-theme-dark .token.symbol,
.vs-theme-dark .token.inserted,
.vs-theme-dark .token.unit {
	color: #b5cea8;
}

.vs-theme-dark .token.selector,
.vs-theme-dark .token.attr-name,
.vs-theme-dark .token.string,
.vs-theme-dark .token.char,
.vs-theme-dark .token.builtin,
.vs-theme-dark .token.deleted {
	color: #ce9178;
}

.language-css .vs-theme-dark .token.string.url {
	text-decoration: underline;
}

.vs-theme-dark .token.operator,
.vs-theme-dark .token.entity {
	color: #d4d4d4;
}

.vs-theme-dark .token.operator.arrow {
	color: #569CD6;
}

.vs-theme-dark .token.atrule {
	color: #ce9178;
}

.vs-theme-dark .token.atrule .vs-theme-dark .token.rule {
	color: #c586c0;
}

.vs-theme-dark .token.atrule .vs-theme-dark .token.url {
	color: #9cdcfe;
}

.vs-theme-dark .token.atrule .vs-theme-dark .token.url .vs-theme-dark .token.function {
	color: #dcdcaa;
}

.vs-theme-dark .token.atrule .vs-theme-dark .token.url .vs-theme-dark .token.punctuation {
	color: #d4d4d4;
}

.vs-theme-dark .token.keyword {
	color: #569CD6;
}

.vs-theme-dark .token.keyword.module,
.vs-theme-dark .token.keyword.control-flow {
	color: #c586c0;
}

.vs-theme-dark .token.function,
.vs-theme-dark .token.function .vs-theme-dark .token.maybe-class-name {
	color: #dcdcaa;
}

.vs-theme-dark .token.regex {
	color: #d16969;
}

.vs-theme-dark .token.important {
	color: #569cd6;
}

.vs-theme-dark .token.italic {
	font-style: italic;
}

.vs-theme-dark .token.constant {
	color: #9cdcfe;
}

.vs-theme-dark .token.class-name,
.vs-theme-dark .token.maybe-class-name {
	color: #4ec9b0;
}

.vs-theme-dark .token.console {
	color: #9cdcfe;
}

.vs-theme-dark .token.parameter {
	color: #9cdcfe;
}

.vs-theme-dark .token.interpolation {
	color: #9cdcfe;
}

.vs-theme-dark .token.punctuation.interpolation-punctuation {
	color: #569cd6;
}

.vs-theme-dark .token.boolean {
	color: #569cd6;
}

.vs-theme-dark .token.property,
.vs-theme-dark .token.variable,
.vs-theme-dark .token.imports .vs-theme-dark .token.maybe-class-name,
.vs-theme-dark .token.exports .vs-theme-dark .token.maybe-class-name {
	color: #9cdcfe;
}

.vs-theme-dark .token.selector {
	color: #d7ba7d;
}

.vs-theme-dark .token.escape {
	color: #d7ba7d;
}

.vs-theme-dark .token.tag {
	color: #569cd6;
}

.vs-theme-dark .token.tag .vs-theme-dark .token.punctuation {
	color: #808080;
}

.vs-theme-dark .token.cdata {
	color: #808080;
}

.vs-theme-dark .token.attr-name {
	color: #9cdcfe;
}

.vs-theme-dark .token.attr-value,
.vs-theme-dark .token.attr-value .vs-theme-dark .token.punctuation {
	color: #ce9178;
}

.vs-theme-dark .token.attr-value .vs-theme-dark .token.punctuation.attr-equals {
	color: #d4d4d4;
}

.vs-theme-dark .token.entity {
	color: #569cd6;
}

.vs-theme-dark .token.namespace {
	color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
	color: #9cdcfe;
}

pre[class*="language-css"],
code[class*="language-css"] {
	color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
	color: #d4d4d4;
}

.language-regex .vs-theme-dark .token.anchor {
	color: #dcdcaa;
}

.language-html .vs-theme-dark .token.punctuation {
	color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[class*="language-"].vs-theme-dark > code[class*="language-"].vs-theme-dark {
	position: relative;
	z-index: 1;
}

.line-highlight.line-highlight {
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
}
