/*
 * Z-Toch
 * by Zeel Codder
 * https://github.com/zeel-codder
 *
 */
code[class*="language-"].ztouch-theme,
pre[class*="language-"].ztouch-theme {
	color: #22da17;
	font-family: monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 25px;
	font-size: 18px;
	margin: 5px 0;
}

pre[class*="language-"].ztouch-theme * {
	font-family: monospace;
}

:not(pre) > code[class*="language-"].ztouch-theme,
pre[class*="language-"].ztouch-theme {
	color: white;
	background: #0a143c;
	padding: 22px;
}

/* Code blocks */
pre[class*="language-"].ztouch-theme {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

pre[class*="language-"].ztouch-theme::-moz-selection,
pre[class*="language-"].ztouch-theme ::-moz-selection,
code[class*="language-"].ztouch-theme::-moz-selection,
code[class*="language-"].ztouch-theme ::-moz-selection {
	text-shadow: none;
	background: rgba(29, 59, 83, 0.99);
}

pre[class*="language-"].ztouch-theme::selection,
pre[class*="language-"].ztouch-theme ::selection,
code[class*="language-"].ztouch-theme::selection,
code[class*="language-"].ztouch-theme ::selection {
	text-shadow: none;
	background: rgba(29, 59, 83, 0.99);
}

@media print {
	code[class*="language-"].ztouch-theme,
	pre[class*="language-"].ztouch-theme {
		text-shadow: none;
	}
}

:not(pre) > code[class*="language-"].ztouch-theme {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.ztouch-theme .token.comment,
.ztouch-theme .token.prolog,
.ztouch-theme .token.cdata {
	color: rgb(99, 119, 119);
	font-style: italic;
}

.ztouch-theme .token.punctuation {
	color: rgb(199, 146, 234);
}

.namespace {
	color: rgb(178, 204, 214);
}

.ztouch-theme .token.deleted {
	color: rgba(239, 83, 80, 0.56);
	font-style: italic;
}

.ztouch-theme .token.symbol,
.ztouch-theme .token.property {
	color: rgb(128, 203, 196);
}

.ztouch-theme .token.tag,
.ztouch-theme .token.operator,
.ztouch-theme .token.keyword {
	color: rgb(127, 219, 202);
}

.ztouch-theme .token.boolean {
	color: rgb(255, 88, 116);
}

.ztouch-theme .token.number {
	color: rgb(247, 140, 108);
}

.ztouch-theme .token.constant,
.ztouch-theme .token.function,
.ztouch-theme .token.builtin,
.ztouch-theme .token.char {
	color: rgb(34 183 199);
}

.ztouch-theme .token.selector,
.ztouch-theme .token.doctype {
	color: rgb(199, 146, 234);
	font-style: italic;
}

.ztouch-theme .token.attr-name,
.ztouch-theme .token.inserted {
	color: rgb(173, 219, 103);
	font-style: italic;
}

.ztouch-theme .token.string,
.ztouch-theme .token.url,
.ztouch-theme .token.entity,
.language-css .ztouch-theme .token.string,
.style .ztouch-theme .token.string {
	color: rgb(173, 219, 103);
}

.ztouch-theme .token.class-name,
.ztouch-theme .token.atrule,
.ztouch-theme .token.attr-value {
	color: rgb(255, 203, 139);
}

.ztouch-theme .token.regex,
.ztouch-theme .token.important,
.ztouch-theme .token.variable {
	color: rgb(214, 222, 235);
}

.ztouch-theme .token.important,
.ztouch-theme .token.bold {
	font-weight: bold;
}

.ztouch-theme .token.italic {
	font-style: italic;
}
