code[class*=language-].fastn-theme-light,
pre[class*=language-].fastn-theme-light {
	color: #000;
	background: 0 0;
	text-shadow: 0 1px #fff;
	/*font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;*/
	/*font-size: 1em;*/
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	/*line-height: 1.5;*/
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
}

code[class*=language-].fastn-theme-light ::-moz-selection,
code[class*=language-].fastn-theme-light::-moz-selection,
pre[class*=language-].fastn-theme-light ::-moz-selection,
pre[class*=language-].fastn-theme-light::-moz-selection {
	text-shadow: none;
	background: #b3d4fc
}

code[class*=language-].fastn-theme-light ::selection,
code[class*=language-].fastn-theme-light::selection,
pre[class*=language-].fastn-theme-light ::selection,
pre[class*=language-].fastn-theme-light::selection {
	text-shadow: none;
	background: #b3d4fc
}

@media print {

	code[class*=language-].fastn-theme-light,
	pre[class*=language-].fastn-theme-light {
		text-shadow: none
	}
}

pre[class*=language-].fastn-theme-light {
	padding: 1em;
	overflow: auto
}

:not(pre)>code[class*=language-].fastn-theme-light,
pre[class*=language-].fastn-theme-light {
	background: #f5f2f0
}

:not(pre)>code[class*=language-].fastn-theme-light {
	padding: .1em;
	border-radius: .3em;
	white-space: normal
}

/* Fastn Language tokens -------------------------------------------------- */

.fastn-theme-light .token.section-identifier {
    color: #36464e;
}

.fastn-theme-light .token.section-name {
    color: #07a;
}

.fastn-theme-light .token.inserted,
.fastn-theme-light .token.section-caption {
    color: #1c7d4d;
}

.fastn-theme-light .token.semi-colon {
    color: #696b70;
}

.fastn-theme-light .token.event {
    color: #c46262;
}

.fastn-theme-light .token.processor {
    color: #c46262;
}

.fastn-theme-light .token.type-modifier {
    color: #5c43bd;
}

.fastn-theme-light .token.value-type {
    color: #5c43bd;
}

.fastn-theme-light .token.kernel-type {
    color: #5c43bd;
}

.fastn-theme-light .token.header-type {
    color: #5c43bd;
}

.fastn-theme-light .token.header-name {
    color: #a846b9;
}

.fastn-theme-light .token.header-condition {
    color: #8b3b3b;
}

.fastn-theme-light .token.coord,
.fastn-theme-light .token.header-value {
    color: #36464e;
}

/* END ----------------------------------------------------------------- */
.fastn-theme-light .token.unchanged,
.fastn-theme-light .token.cdata,
.fastn-theme-light .token.comment,
.fastn-theme-light .token.doctype,
.fastn-theme-light .token.prolog {
	color: #7f93a8
}

.fastn-theme-light .token.punctuation {
	color: #999
}

.fastn-theme-light .token.namespace {
	opacity: .7
}

.fastn-theme-light .token.boolean,
.fastn-theme-light .token.constant,
.fastn-theme-light .token.deleted,
.fastn-theme-light .token.number,
.fastn-theme-light .token.property,
.fastn-theme-light .token.symbol,
.fastn-theme-light .token.tag {
	color: #905
}

.fastn-theme-light .token.attr-name,
.fastn-theme-light .token.builtin,
.fastn-theme-light .token.char,
.fastn-theme-light .token.selector,
.fastn-theme-light .token.string {
	color: #36464e
}

.fastn-theme-light .token.important,
.fastn-theme-light .token.deliminator {
	color: #1c7d4d;
}

.language-css .fastn-theme-light .token.string,
.style .fastn-theme-light .token.string,
.fastn-theme-light .token.entity,
.fastn-theme-light .token.operator,
.fastn-theme-light .token.url {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5)
}

.fastn-theme-light .token.atrule,
.fastn-theme-light .token.attr-value,
.fastn-theme-light .token.keyword {
	color: #07a
}

.fastn-theme-light .token.class-name,
.fastn-theme-light .token.function {
	color: #3f6ec6
}

.fastn-theme-light .token.important,
.fastn-theme-light .token.regex,
.fastn-theme-light .token.variable {
	color: #a846b9
}

.fastn-theme-light .token.bold,
.fastn-theme-light .token.important {
	font-weight: 700
}

.fastn-theme-light .token.italic {
	font-style: italic
}

.fastn-theme-light .token.entity {
	cursor: help
}


/* Line highlight plugin */
.fastn-theme-light .line-highlight.line-highlight {
	background-color: #87afff33;
	box-shadow: inset 2px 0 0 #4387ff
}

.fastn-theme-light .line-highlight.line-highlight:before,
.fastn-theme-light .line-highlight.line-highlight[data-end]:after {
	top: auto;
	background-color: #4387ff;
	color: #fff;
	border-radius: 50%;
}
