/* http://meyerweb.com/eric/tools/css/reset/
          v2.0 | 20110126
          License: none (public domain)
       */

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
!* HTML5 display-role reset for older browsers *!
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

*, :after, :before {
    /*box-sizing: inherit;*/
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    height: auto;
    width: auto;
}

*, pre, div {
    padding: 0;
    margin: 0;
    gap: 0;
    outline: none;
}


body, ol ol, ol ul, ul ol, ul ul {
    margin:0
}
pre, table{
    overflow:auto
}
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

input {
    vertical-align: middle;
}
pre {
    white-space: break-spaces;
    word-wrap: break-word;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
iframe {
    border: 0;
    color-scheme: auto;
}

pre code {
    /*
    This break show-line-number in `ftd.code`
    overflow-x: auto;
    */
    display: block;
    padding: 0 1em !important;
}

/* Common styles  */
.ft_common{
    text-decoration: none;
    box-sizing: border-box;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    height: auto;
    width: auto;
}

/* Common container attributes */
.ft_row, .ft_column {
    display: flex;
    align-items: start;
    justify-content: start
}

.full {
    width: 100%;
    height: 100%;
}

.ft_row {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    box-sizing: border-box;
}
.ft_column {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
}

.ft_row {
    flex-direction: row;
}

.ft_column {
    flex-direction: column;
}

.ft_md ul,
.ft_md ol{
    margin: 10px 0;
}

.ft_md ul ul,
.ft_md ul ol,
.ft_md ol ul,
.ft_md ol ol {
    margin: 0;
}

.ft_md ul li,
.ft_md ol li,
.ft_md ul ol li .ft_md ul ul li .ft_md ol ul li .ft_md ol ol li {
    position: relative;
    padding-left: 32px;
    margin: 4px 0;
}

.ft_md ul {
    list-style: none;
    padding-left: 0;
}

.ft_md ol {
    list-style: none;
    padding-left: 0;
    counter-reset: item;
}

.ft_md ol li:before,
.ft_md ol ol li:before,
.ft_md ul ol li:before {
    content: counter(item);
    counter-increment: item;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    padding: 4px 0;
    height: 10px;
    width: 18px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 5px;
}

.ft_md ul li::before,
.ft_md ul ul li::before,
.ft_md ol ul li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 8px;
    top: 10px;
    border-radius: 50%;
    background: #c1c8ce;
}

ul, ol {
    /* Added padding to the left to move the ol number/ ul bullet to the right */
    padding-left: 20px;
}

a {
    color: #2952a3;
}

a:visited {
    color: #856ab9;
}

a:hover {
    color: #24478f;
}

.ft_md a {
    text-decoration: none;
}

.ft_md a:visited {
    text-decoration: none;
}

.ft_md a:hover {
    text-decoration: none;
}

code {
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
    background-color: #0000000d;
}

.ft_md blockquote {
    padding: 0.25rem 1rem;
    margin: 1rem 0;
    border-radius: 3px;
}

.ft_md blockquote > blockquote {
    margin: 0;
}


body.dark code {
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
    background-color: #ffffff1f;
}


body.dark a {
    color: #6498ff
}

body.dark a:visited {
    color: #b793fb;
}


p {
    margin-block-end: 1em;
}

h1:only-child {
    margin-block-end: 0.67em
}

table, td, th {
  border: 1px solid;
}

th {
    padding: 6px;
}

td {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}
